.category-section{
    background: var(--light-shade);
    width: 100%;
    height: fit-content;
    padding: $big;
    position: relative;
    margin-top: $giant*1.2;
    .faded-text{
        top: -200%;
    }
}
.all-categories{
    font-size: $big;
    margin: $small;
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    #cities{
        background: var(--light-yellow);
        outline: none;
        border: none;
        color: var(--secondary);
        font-size: $big;
        padding: 5px 10px;
        margin:5px;
        border-radius: 5px;
        width: fit-content + $small;
        font-family: $playFair;
        font-weight: 600;
        .city{
            font-size: $big - $small;
        }
    }
}

.event-description{
    font-size: $medium;
    text-align: center;
    color: var(--secondary);
    width: 50%;
    margin: 0 auto;
}

.check-events{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $large;
    li{
        color: var(--primary);
        list-style-type: none;
        margin: $medium;
        width: fit-content;
        padding: 4px 5px;
        border-bottom: 2px solid transparent;
        &:hover{
            border-bottom: 2px solid var(--primary);
        }
    }
}

.switch-button{
    position: absolute;
    z-index: 3;
    display: flex;
    top: 50%;
    left: 5%;
    width: 90%;
    justify-content: space-between;
    h2{
        color: $white;
        background: var(--tertiary);
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        padding: 10px;
        border-radius: 50%;

    }
}
.event-container{
    display: flex;
    overflow-x: scroll;
    position: relative;
    z-index: 1;
    &::-webkit-scrollbar{
        display:none;
    }
    .event-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    height: 300px;
    margin: $small;
    border-radius: 5px;
    overflow: hidden;
    background: $white;
    .event-flyer{
        display: block;
        width: 100%;
        height: 60%;
    }

    .event-details{
        height: 40%;
        margin: 10px;
        font-weight: 600;
        .title{
            font-size: $small;
            color: var(--primary);
        }
        .date{
            color: var(--secondary);
            margin: $small 0;
            font-size: $small;
        }
        .location{
            color: var(--secondary);
            font-size: $small;
            font-weight: 400;
            letter-spacing: 2px;
        }
    }
}
}

.browse-events{
    color: $white;
    background: var(--secondary);
    border: none;
    outline: none;
    padding: $small $big;
    border-radius: 4px;
    width: fit-content;
    margin: $big auto;
    display: block;
}
