.benefits-section{
    position: relative;
    margin: 30px auto 100px;
    .faded-benefit{
        position:absolute;
        text-align: right;
        right: 4%;
        top:-100%;
    }

}
.benefit-container{
    display: flex;;
    height: 300px;
    width: 70%;
    margin: 20px auto;
    .benefit-image{
        width: 50%;
        height: 100%;
        padding: 0 5%;
        position: relative;
        display: flex;
        .image-background{
            background: $linear-background;
            background-size:contain;
            width: 100%;
            height: 90%;
            border-radius: 5px;
            overflow: hidden;
        }
        img{
            width: 100%;
            height: 100%;
            border-radius: 5px;
            display: block;
            z-index: 2;
            mix-blend-mode: multiply;
        }
        .dotted-image{
            position: absolute;
            width: 100%;
            height: 60%;
            z-index: 1;
            top: -15%;
        }
    }
    .benefit-content{
        width: 50%;
        height: 100%;
        padding: 0 5%;
        .numbers{
            font-size: $giant;
            color:#ffbac6;
        }
        .title{
            font-size: $xx-large;
            font-family: $playFair;
            color: var(--primary);
        }
        .description{
            color: var(--secondary);
            font-size: $small;
        }
    }
}