*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    // font-family: 'Noto Sans', sans-serif;
}

.faded-text{
    font-size: $giant*2.5;
    font-family: 'Playfair', serif;
    -webkit-text-stroke: 1px var(--tertiary);
    top: -120%;
    opacity: 0.15;
    position: absolute;
    color: transparent;
}
section{
    position: relative
}
section .main-text{
    text-align: center;
    color: var(--primary);
    font-size: $big;
    font-family: 'Playfair', serif;
    margin-top: $giant;
}
section h2{
    font-family: 'Playfair', serif;
}