.categories-section{
    position: relative;
    margin: 30px auto 70px;

    .faded-benefit{
        position:absolute;
        text-align: left;
        left: 4%;
        top:0%;
    }
}
.top-categories{
    display: flex;
    width: 100%;
    height: fit-content;
    margin: $big auto;
    justify-content: center;
    align-items: center;

    .image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .event-image{
            padding: 20px;
            height: 100px;
            margin: 10px;
            width: 100px;
            border-radius: 50%;
            background: var(--light-shade);
            border: 1px solid var(--secondary);
            display: flex;
            justify-content: center;
            align-items: center;

            img{
            height: 40px;
            width: 40px;
            }
        }
        .event-name{
            font-size: $small;
            color: var(--primary);
            height: 20px;
        }
    }
}